#root {
  width: 100%;
  max-width: 1280px;
  padding: .5rem;

  margin-left: 5rem;
  margin-right: .5rem;
}

.main {
  display: grid;
  column-gap: 5rem;
  grid-template-columns: 5fr 10fr;
}

.forms {
  color: aliceblue;
}

.output {
  display: grid;
  grid-template-columns: 2fr 3fr;

  box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
}

.output > :first-child {
  background-color: rgb(13, 106, 143);
}

.output > * {
  padding: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
